/* =======================================================
   1400px
======================================================= */

@media (max-width:1400px){

    h1{

        font-size:4.3rem;

    }

    h2{

        font-size:2.8rem;

    }

    .container{

        width:min(92%,1180px);

    }

}


/* =======================================================
   1200px
======================================================= */

@media (max-width:1200px){

    section{

        padding:100px 0;

    }

    h1{

        font-size:4rem;

    }

    h2{

        font-size:2.5rem;

    }

    .navigation ul{

        gap:32px;

    }

    .hero{

        min-height:820px;

    }

    .services-grid{

        gap:30px;

    }

    .service-card{

        padding:55px 45px;

    }

    .two-columns{

        gap:60px;

    }

    .about-grid{

        gap:60px;

    }

    .footer-grid{

        gap:50px;

    }

}


/* =======================================================
   992px
======================================================= */

@media (max-width:992px){

    section{

        padding:90px 0;

    }

    h1{

        font-size:3.4rem;

    }

    h2{

        font-size:2.2rem;

    }

    .nav-container{

        padding:25px 0;

    }

    .navigation{

        display:none;

    }

    .hero{

        min-height:760px;

    }

    .hero-content{

        max-width:600px;

    }

    .intro-grid{

        grid-template-columns:1fr;

        gap:25px;

    }

    .services-grid{

        grid-template-columns:1fr;

    }

    .service-card{

        min-height:auto;

    }

    .two-columns{

        grid-template-columns:1fr;

        gap:40px;

    }

    .process-grid{

        grid-template-columns:repeat(2,1fr);

        row-gap:50px;

    }

    .about-grid{

        grid-template-columns:1fr;

    }

    .footer-grid{

        grid-template-columns:1fr;

        gap:45px;

    }

}