*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Inter",sans-serif;
    color:#1E1E1E;
    background:white;

}

.container{

    width:min(1200px,90%);
    margin:auto;

}

a{

    text-decoration:none;
    color:inherit;

}

ul{

    list-style:none;

}
